.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: .3rem;
  }
  
  .navbar__item {
    margin-right: 1rem;
  }
  
  .navbar__link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  
  .navbar__link:hover {
    background-color: #ba1010;
    border-radius: 1rem;
    width: 25%;
  }