/* Form Styles */
.goalForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .goalForm__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form Field Styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button Styles */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ba1010;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #920000;
  }
  
  .btn-primary {
    background-color: #ba1010;
  }
  
  .btn-primary:hover {
    background-color: #920000;
  }
  